@using OnionBase.Presentation.ViewModels;
@model ResetPasswordViewModel

<form asp-action="ResetPasswordAsync" asp-controller="Account" method="post" enctype="multipart/form-data">
    <input type="text" style="display:none" id="form3Example1cg" class="form-control form-control-lg" asp-for="Email" value="@Model.Email"/>


    <input type="text" id="form3Example1cg" class="form-control form-control-lg" asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <input type="text" id="form3Example1cg" class="form-control form-control-lg" asp-for="RePassword" />
    <span asp-validation-for="RePassword"></span>

    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" style="background-color:#57081a">
        <font style="color:white">Kaydet</font>
    </button>
</form>
